<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Link Shortener</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>

  <!-- Include navbar -->
  <%- include("partials/navbar", { links: navbarLinks }) %>

  <main class="homepage">
    <h1>Shorten your long URLs in seconds!</h1>
    <form action="/url" method="POST" class="shorten-form">
      <!-- important parameters - action & name -->
      <input type="text" name="url" placeholder="Enter your long URL" required />
      <button type="submit">Shorten</button>
    </form>
    <% if (locals.shortURL) { %> 
    <!-- only shortURL could be used instead -->
    <div class="result">
      <p>Your shortened URL:</p>
      <a href="<%= shortURL %>" target="_blank"><%= shortURL %></a>
    </div>
    <% } %>
  </main>

</body>
</html>